<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="FlexiView Demos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".DrawableRelativeLayoutDemoActivity"
            android:label="DrawableRelativeLayout Features" />
            
        <activity 
            android:name=".StacksViewDemoActivity"
            android:label="StacksView Adapter Demo" />
            
        <activity 
            android:name=".StacksViewXmlDemoActivity"
            android:label="StacksView XML Demo" />
            
        <activity 
            android:name=".MovieCardsStackDemoActivity"
            android:label="Movie Cards Demo" />
            
        <activity 
            android:name=".InteractiveFeaturesDemoActivity"
            android:label="Interactive Features Demo" />
    </application>
</manifest>